{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}  {% endblock %} | Restaurant Review System</title>
<meta charset="utf-8">
<meta name="keywords" content="{% block keywords %} some keywords{% endblock %} ">
<meta name="description"
      content="{% block description %} Restaurant Review Application{% endblock %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/app-main.css' %}">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% block head %}
    {% endblock %}

</head>

<body class="bs-docs-home">
{% include 'header.html' %}

 <!-- Page content of course! -->
<main id="section1" class="container">
<div class="container main-wrapper">
  <div class="row">
 <div class="col-sm-12">
   <div class="wrapper">
        <div class="newsbox">
             <div class="container1">
             {% block content %}
              {% if error_message %}<p><strong>{{ error_message}}</strong></p>{% endif %}
              {% endblock %}
        </div>
      </div>
   </div>
</div>
</div>

</div>
</main>
<div class="container-fluid fixed-bottom footer text-center">
  <span class="text-muted">@{% now "Y" %} All rights reserved.</span>
</div>
<!--End of Footer-->

<!-- Bootstrap core JavaScript
================================================== -->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>